block vars  
  -var pageTitle = 'Express Skeleton'

extends layout

append content
  .container
    if user
      p User ID: 
        span= session.passport.user
      p Welcome to the site user #{user.profile.displayName}
    if flash
      p #{flash}