block vars  
  -var pageTitle = 'Express Skeleton'

extends layout

append content
  .container
    if user
      p User ID: 
        span= session.passport.user
      p Welcome to the site user #{user.profile.displayName}
    if flash
      p #{flash}

append scripts
  script
    :babel
      console.log("Hello World !!!");
      class Person {
        constructor(name) {
          this.name = name;
        }
        sayName(){
          console.log(`Hello, my name is ${this.name}`);
        }
      }
      var person = new Person("Test");
      person.sayName();
