block vars  
  -var pageTitle = 'Express Skeleton'

extends layout

append content
  .container
    if user
      p Welcome to the site user #{JSON.stringify(user.id)}
      p #{user.email}
    if error
      p #{error}