block vars  
  -var pageTitle = 'Express Skeleton'

extends layout

append content
  .container
    if session && session.user
      p Welcome to the site user #{JSON.parse(session.user.profile).nick}
      p #{session.user.email}
      p #{session.user.id}
    if flash
      p #{flash}